@import './global.css';

.container  {
    margin: 5rem;
    font-size: 3rem;
    font-weight: 200;
}

.container > p {
    margin: 0;
    padding-top: 0.5rem;
}

.nextQuoteButton    {
    padding: 1rem;
    border: 1px solid white;
    border-radius: 15px;
    outline: none;
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 300;
}