* {
  background-color: #282c34;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  margin: 0 5rem;
}

.App-main {
  height: 90vh;
}

.Question {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  height: 60vh;
  margin: 5rem;
}

.QuoteID  {
  font-size: 2rem;
}

.Question > p {
  font-size: calc(5rem + 2vmin);
}